.bottom {
  background: var(--fifth-color-dgrey);
  // margin: 0 auto;
  padding-bottom: 60px;

  &__box {
    display: flex;
    flex-direction: column;
  }

  &__left {
    display: flex;
    flex-direction: column;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__center {
    display: flex;
    flex-direction: column;
  }

  &__join {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
    //mobile
    text-align: center;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .bottom__box {
    flex-direction: row;
    // justify-content: center;
    // align-items: center;
  }
  .bottom__center {
    margin-left: 65px;
  }

  .bottom__right {
    margin-left: 65px;
  }
  .bottom__join {
    margin-top: 72px;
    text-align: left;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .bottom__tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .bottom__tablet {
    display: flex;
  }
}
