.lorem {
  padding-bottom: 0px;

  &__list {
    display: flex;
    // flex-direction: row;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__box {
    // width: 270px;
    // height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    //mobile
    text-align: center;
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--four-color-gre);
  }

  &__item {
    flex-basis: calc(100% / 2 - 30px);
  }

  // &__item:not(:last-child) {
  //   margin-right: 30px;
  // }
}

// @media screen and (min-width: 768px) {
//   .lorem__list {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: center;
//     align-items: center;
//   }
// }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .lorem__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .lorem__item {
    flex-basis: calc(100% / 2);
  }
  .lorem__item {
    margin-bottom: 30px;
  }
  .lorem__item:nth-child(2n + 1) {
    padding-right: 15px;
  }
  .lorem__item:nth-child(2n) {
    padding-left: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .lorem__item:not(:last-child) {
    margin-right: 30px;
  }
}
