.mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--third-color-whi);
  padding: 48px 40px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  &--inside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  &__button {
    background-color: transparent;
    border-style: none;
  }

  &__icon {
    fill: var(--main-color-bla);
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #21212133;
    margin-bottom: 10px;
  }
  &__link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: var(--secondary-color-blu);
  }
}

.mobile-menu__button:hover .mobile-menu__icon {
  fill: var(--secondary-color-blu);
}

.mobile-menu__button:focus .mobile-menu__icon {
  fill: var(--secondary-color-blu);
}

.mobile-close__icon {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 30px;
  height: 30px;
  border-style: none;
  background-color: var(--third-color-whi);
  cursor: pointer;
}

.is-open {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  &__button {
    display: none;
  }
}
