:root {
    --main-color-bla: #212121;
    --secondary-color-blu: #2196f3;
    --third-color-whi: #ffffff;
    --four-color-gre: #757575;
    --fifth-color-dgrey: #2F303A;
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}